	</div>

	<script src="assets/js/jquery-1.11.0.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/stat.js"></script>
	<script src="assets/js/size-fix.js"></script>
	<script src="assets/js/spin.min.js"></script>
	<script src="assets/js/ladda.min.js"></script>
	<script src="assets/js/countdown.min.js"></script>
</body>
</html>