doctype html
html(lang="en")
	head
		title="Rodney - " + title
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/css/kube.min.css")
		link(rel="stylesheet", href="/css/app.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		block includes
	body
		block content
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js")
		script(type="text/javascript", src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
		script(type="text/javascript", src="js/kube.min.js")
		script(type="text/javascript", src="js/api.js")
		block js