body {
	padding-top: 50px;
	background: url(../img/wallpaper2.jpg);
	background-position: center;
	background-size: contain;
}
html, body{
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -31px;
	padding: 0 0 60px;
}
#footer {
	height: 30px;
	background-color: #333333;
	opacity: .15;
}
#footer:hover {
	opacity: .85;
}
#creditContainer {
	width: auto;
	padding: 0 15px;
}
#creditContainer .credit {
	margin: 5px 0;
}
.jumbotron {
	margin-top: 15px;
	padding: 40px 15px;
	padding-top: 10px;
	text-align: center;
}
