body {
	padding-top: 50px;
	background: #24282E;
	background: url(../img/wallpaper2.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
html, body{
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -31px;
	padding: 0 0 60px;
}
#footer {
	min-height: 30px;
	background: rgba(51, 51, 51, 0.30);
}
#creditContainer {
	width: auto;
	padding: 0 15px;
}
#creditContainer .credit {
	margin: 5px 0;
	color: rgb(153, 153, 153);
}
.jumbotron {
	margin-top: 15px;
	padding: 40px 15px;
	padding-top: 10px;
	text-align: center;
}
#alertbox {
	display: block;
	position: absolute;
	width: auto;
	left: 15px;
	right: 15px;
}